language: cpp

compiler:
	- gcc
	- clang

before_install: sudo apt-get update -qq

install: sudo apt-get install -y libfreeimage-dev

before_script:
	- mkdir build
	- cd build
	- cmake ..

script: make
